  <main>
    <app-modify-content (onCreation)="addMovies($event)"></app-modify-content>
      <div class="SearchbyTitle">

        <div>
          <mat-form-field>
            <input matInput type="text" [(ngModel)]="inputValue" placeholder=" Search Title Here" >

          </mat-form-field>
        </div>
        <button mat-raised-button color="primary"
          (click)="SearchbyTitle()">Search
        </button>
      </div>
      <div *ngIf="Search !== null"  >
        <p [style.color] = "Search ? 'green' : 'red'" >
           {{ Search ? 'Matched' : 'Not Matched'}}
           </p>
      </div>
    
  </main>
  <div>
    <h2>No Type</h2>
    <div *ngFor="let myFavmovie of myFavMovies | filterContentType" class="no-type">
        <mat-card class="card">
          <mat-card-header>
            <div *ngIf="myFavmovie.imgURL; else noImg">
              <a routerLink="/contents/{{myFavmovie.id}}" >

            <img
            class="card-img-left"
            src="{{ myFavmovie.imgURL }}"
            height="400"
            width="400"
            (click)="showNovalInfo(myFavmovie.id, myFavmovie.title)"
            alt="Card image cap"/></a>
        </div>
        <ng-template #noImg>
          <a routerLink="/contents/{{myFavmovie.id}}" >

          <img
          class="card-img-left"
          src="{{ defaultmovieimg }}"
          height="400"
          width="400"
          (click)="showNovalInfo(myFavmovie.id, myFavmovie.title)"
          alt="Card image cap"/></a>
        </ng-template>
      </mat-card-header>
   
         <mat-card-content>
          <div class="col-md-8">
            <h5 class="card-title" *ngIf="myFavmovie?.title">
              {{ myFavmovie.title }}
            </h5>
            
            
            <p class="card-text" *ngIf="myFavmovie?.rating">
              <strong>Rating</strong> {{ myFavmovie?.rating }}
            </p>
            <p class="card-text" *ngIf="myFavmovie?.moviename">
              <strong>moviename</strong> {{ myFavmovie?.moviename }}
            </p>
            <p class="card-text" *ngIf="myFavmovie?.type"  appHoverAffect="underline">
              <strong>Type</strong> {{ myFavmovie?.type }}
            </p>
            <p class="card-text" *ngIf="myFavmovie?.tags"  >
              <strong>Tags</strong> 
              <span *ngFor="let tag of myFavmovie?.tags" appHoverAffect="bold"> {{tag}},
              </span>
            </p>
          </div>
         </mat-card-content>
        </mat-card>
    </div>
  </div>

  <div>
    <h2>Classic Type</h2>
    <div *ngFor="let myFavmovie of myFavMovies | filterContentType:'classic'" class="classic-type">
      <mat-card class="card">
        <mat-card-header>
          <div *ngIf="myFavmovie.imgURL; else noImg">
            <a routerLink="/contents/{{myFavmovie.id}}" >

          <img
          class="card-img-left"
          src="{{ myFavmovie.imgURL }}"
          height="400"
          width="400"
          (click)="showNovalInfo(myFavmovie.id, myFavmovie.title)"
          alt="Card image cap"/>
            </a> 

      </div>
      <ng-template #noImg>
        <a routerLink="/contents/{{myFavmovie.id}}" >
        <img
        class="card-img-left"
        src="{{ defaultmovieimg }}"
        height="400"
        width="400"
        (click)="showNovalInfo(myFavmovie.id, myFavmovie.title)"
        alt="Card image cap"/>
        </a>
      </ng-template>
    </mat-card-header>
 
       <mat-card-content>
        <div class="col-md-8">
          <h5 class="card-title" *ngIf="myFavmovie?.title">
            {{ myFavmovie.title }}
          </h5>
         
          
          <p class="card-text" *ngIf="myFavmovie?.rating">
            <strong>Rating</strong> {{ myFavmovie?.rating }}
          </p>
          <p class="card-text" *ngIf="myFavmovie?.moviename">
            <strong>moviename</strong> {{ myFavmovie?.moviename }}
          </p>
          <p class="card-text" *ngIf="myFavmovie?.type"  appHoverAffect="underline">
            <strong>Type</strong> {{ myFavmovie?.type }}
          </p>
          <p class="card-text" *ngIf="myFavmovie?.tags"  >
            <strong>Tags</strong> 
            <span *ngFor="let tag of myFavmovie?.tags" appHoverAffect="bold"> {{tag}},
            </span>
          </p>
        </div>
       </mat-card-content>
      </mat-card>
  </div>

  <div>
    <h2>Horror Type</h2>
    <div *ngFor="let myFavmovie of myFavMovies | filterContentType:'Horror'" class="horror-type">
        <mat-card class="card">
          <mat-card-header>
            <div *ngIf="myFavmovie.imgURL; else noImg">
              <a routerLink="/contents/{{myFavmovie.id}}" >

            <img
            class="card-img-left"
            src="{{ myFavmovie.imgURL }}"
            height="400"
            width="400"
            (click)="showNovalInfo(myFavmovie.id, myFavmovie.title)"
            alt="Card image cap"/></a>
        </div>
        <ng-template #noImg>
          <a routerLink="/contents/{{myFavmovie.id}}" >

          <img
          class="card-img-left"
          src="{{ defaultmovieimg }}"
          height="400"
          width="400"
          (click)="showNovalInfo(myFavmovie.id, myFavmovie.title)"
          alt="Card image cap"/></a>
        </ng-template>
      </mat-card-header>
   
         <mat-card-content>
          <div class="col-md-8">
            <h5 class="card-title" *ngIf="myFavmovie?.title">
              {{ myFavmovie.title }}
            </h5>
            
            
            <p class="card-text" *ngIf="myFavmovie?.rating">
              <strong>Rating</strong> {{ myFavmovie?.rating }}
            </p>
            <p class="card-text" *ngIf="myFavmovie?.moviename">
              <strong>moviename</strong> {{ myFavmovie?.moviename }}
            </p>
            <p class="card-text" *ngIf="myFavmovie?.type"  appHoverAffect="underline">
              <strong>Type</strong> {{ myFavmovie?.type }}
            </p>
            <p class="card-text" *ngIf="myFavmovie?.tags"  >
              <strong>Tags</strong> 
              <span *ngFor="let tag of myFavmovie?.tags" appHoverAffect="bold"> {{tag}},
              </span>
            </p>
          </div>
         </mat-card-content>
        </mat-card>
    </div>
  </div>