.cardd
{
    box-shadow: 1px 1px 20px 2px rgb(139, 4, 148);
    background-color: rgb(184, 101, 228);
    text-align: center;
    border-radius: 800px;
    border: solid black;
    margin-bottom: 16px;
}