
<div>



  ID: <br> <input type="number" [(ngModel)]="information.id"> <br> <br>
  Title: <br> <input type="text" [(ngModel)]="information.title"> <br> <br>
  Description: <br> <input type="text" [(ngModel)]="information.description"> <br> <br>
  Moviename: <br> <input type="text" [(ngModel)]="information.moviename"> <br> <br>
  ImageUrl: <br> <input type="text" [(ngModel)]="information.imgURL"> <br> <br> 
  Actor: <br> <input type="text" [(ngModel)]="information.actor"> <br> <br>
  Rating: <br> <input type="number" [(ngModel)]="information.rating"> <br> <br>
  color: <br> <input type="text" [(ngModel)]="information.color"> <br> <br>
  publisher: <br> <input type="text" [(ngModel)]="information.publisher"> <br> 
  <div>
      <button (click)="addContentEvents()">Add Content Event</button>
  </div>
</div>