
<div>



  ID :-  <input type="number" [(ngModel)]="information.id"> <br> <br>
  Title :- <input type="text" [(ngModel)]="information.title"> <br> <br>
  Description :- <input type="text" [(ngModel)]="information.description"> <br> <br>
  Moviename :- <input type="text" [(ngModel)]="information.moviename"> <br> <br>
  ImageUrl :- <input type="text" [(ngModel)]="information.imgURL"> <br> <br> 
  Actor :- <input type="text" [(ngModel)]="information.actor"> <br> <br>
  Rating :- <input type="number" [(ngModel)]="information.rating"> <br> <br>
  color :-  <input type="text" [(ngModel)]="information.color"> <br> <br>
  publisher :- <input type="text" [(ngModel)]="information.publisher"> <br> 
  <br>
  <br>
  <div>
      <button (click)="addContentEvents()">Add Content Event</button>
  </div>
</div>