<!-- <p>create-content works!</p>

<p
  class="btn btn-dark d-block"
  data-toggle="collapse"
  data-target="#collapseOne"
  aria-expanded="true"
  aria-controls="collapseOne"
>
  Insert New Movie
</p>
<form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
  <p class="alert d-block text-danger alert-error" *ngIf="!formContentValid">
    Sorry! content failed to be added.
  </p>
  <div class="row">
    <div class="col-md-2 mb-4">
      <div class="form-group">
        <label class="text-white">ID</label>
        <input
          type="number"
          class="form-control"
          name="id"
          ngModel
          required
          placeholder="Required Field"
        />
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="form-group">
        <label class="text-white">Title</label>
        <input
          type="text"
          class="form-control"
          name="title"
          ngModel
          required
          placeholder="Required Field"
        />
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="form-group">
        <label class="text-white">Description</label>
        <input
          type="text"
          class="form-control"
          name="description"
          ngModel
          required
          placeholder="Required Field"
        />
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="form-group">
        <label class="text-white">Creator</label>
        <input
          type="text"
          class="form-control"
          name="creator"
          ngModel
          placeholder="Optional Field"
        />
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="form-group">
        <label class="text-white">Image Url</label>
        <input
          type="text"
          class="form-control"
          name="imgURL"
          ngModel
          placeholder="Optional Field"
        />
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="form-group">
        <label class="text-white">Publisher</label>
        <input
          type="text"
          class="form-control"
          name="publisher"
          ngModel
          placeholder="Optional Field"
        />
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="form-group">
        <label class="text-white">Color</label>
        <input
          type="text"
          class="form-control"
          name="color"
          ngModel
          required
          placeholder="Required Field"
        />
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="form-group">
        <label class="text-white">Font Family</label>
        <select
          class="form-control"
          name="fontFamily"
          [(ngModel)]="fontFamily"
          ngModel
          required
        >
          <option>Poppins</option>
          <option>OpenSans</option>
          <option>Roboto</option>
        </select>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="form-group">
        <button class="btn btn-success mt-4">Add Novel</button>
      </div>
    </div>
  </div>
</form>
<hr /> -->

<div>

  ID: <br> <input type="number" [(ngModel)]="information.id"> <br> <br>
  Title: <br> <input type="text" [(ngModel)]="information.title"> <br> <br>
  Description: <br> <input type="text" [(ngModel)]="information.description"> <br> <br>
  Moviename: <br> <input type="text" [(ngModel)]="information.moviename"> <br> <br>
  ImageUrl: <br> <input type="text" [(ngModel)]="information.imgURL"> <br> <br> 
  Actor: <br> <input type="text" [(ngModel)]="information.actor"> <br> <br>
  Rating: <br> <input type="text" [(ngModel)]="information.rating"> <br> <br>
  color: <br> <input type="text" [(ngModel)]="information.color"> <br> <br>
  publisher: <br> <input type="text" [(ngModel)]="information.publisher"> <br> <br>
  <div>
      <button (click)="addContentEvents()">Add Content Event</button>
  </div>
</div>